defaults:
  - model: neuralode
  - data: lorenz63_dyslim
  - training: vanilla
  - override hydra/launcher: submitit_slurm
  - _self_

neighborhood:
  second_order: true
  use_taylor_mode: false
  r_min: 0.4
  r_max: 0.6
  num_neighbors: 30
  weight: 1.0
  chunk_size: null
  radius: 2.0
  dim_project: 2
  num_neighbor_threshold: 30
  pca_score_cutoff: 0.3
  rollout: 4

hydra:
  launcher: 
    timeout_min: 900
    tasks_per_node: 1
    gpus_per_node: 1

enable_x64: true
